
body {
  margin: 0;
  font-family: 'Gilroy', sans-serif;
  overflow: hidden;
}
:root {
  /* fonts */
  --font-tt-hoves: "TT Hoves";


  /* font sizes */
  --font-size-lg: 18px;
  --font-size-md: 6px;

  /* Colors */
  --white: #fff;
  --dark: #1d1f16;
  --dark1: #0e1617;
  --grey: #54564b;
  --primary-color: #d6ff2f;
  --yellow-light: #fef7e3;

  /* Border radiuses */
  --br-7xs: 6px;
}